@{
    ViewData["Title"] = "تأكيد استعادة كلمة المرور";
}


<div class="d-flex flex-column min-vh-100">
    <div class="flex-grow-1">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="alert alert-success text-center">
                        <h4 class="alert-heading">تم إرسال رابط استعادة كلمة المرور</h4>
                        <p>يرجى التحقق من بريدك الإلكتروني للحصول على رابط لإعادة تعيين كلمة المرور الخاصة بك.</p>
                    </div>
                    <div class="text-center mt-4">
                        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">العودة إلى الصفحة الرئيسية</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>