@{
    ViewData["Title"] = "تم إرسال بريد التأكيد";
}



<div class="d-flex flex-column min-vh-100">
    <div class="flex-grow-1">
        <div class="container">
            <div class="d-flex flex-column justify-content-center align-items-center text-center vh-100">
                <div>
                    <h2 class="text-primary fs-1">تم إرسال بريد التأكيد</h2>
                    <p class="text-secondary fs-5">
                        تم إرسال بريد إلكتروني إلى البريد الخاص بك. الرجاء التحقق من بريدك الإلكتروني وإتباع الرابط لتأكيد حسابك.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>